$secondary: #f4f7f6;
$primary: #10126b;
$terciary: #399cdd;
$neutral: #ccc;

body{
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
}

/*------------*\
|-----HERO-----|
\*------------*/

%hero-images{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    position:relative;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}
.hero{
    height: 500px;
}
#bg1{
    background-image: url('../assets/bg.jpg');
    top: 0px;
    @extend %hero-images
}
#bg2{
    background-image: url('../assets/bg-overlay.png');
    top: -500px;
    @extend %hero-images;
}
.hero-content{
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: $secondary;
    h1{
        margin: 0;
        color: $secondary;
    }
    button{
        width: 200px;
        cursor: pointer;
        margin: 5px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:$secondary;
        outline: none;
        border: none;
        appearance: none;
        transition: .25s;
        position: relative;
        overflow: hidden;
        height: 40px;
        &:hover{ 
            transform: scale(1.1);
            div{
                left: calc(100% + 40px);
	            transition: .5s;
            }
        }
        div{
            background: lighten( $terciary ,30 );
            width: 60px;
            height: 100%;
            position: absolute;
            left: -65px;
            transform: skew(-15deg);
        }
    }
}

/*-----------*\
|-----NAV-----|
\*-----------*/

[type="radio"],[for="open"],[for="close"]{
    display: none;
}
nav{
    color: $primary;
    background-color: $secondary;
    position: absolute;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    ul{
        padding: 0;
        margin: 0;
        display: flex;
        list-style: none;
    }
    li{
        padding: 0 15px;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-weight: 700;
        transition: .5s;
        &:hover{
            color: $terciary;
            background-color: darken($secondary, 5);
        }
    }
}

/*-----------*\
|----LOGIN----|
\*-----------*/

.session{
    display: flex;
    align-items: center;
    color: $primary;
    background-color: $secondary;
    span{
        font-size: 13px;
        padding-right: 5px;
        cursor: pointer;
    }
    .profile{
        cursor: pointer;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        margin-right: 5px;
        border: 1px solid $neutral;
    }
    .logo{
        position: relative;
        border-radius: 50%;
        color: $terciary;
        width: 50px;
        height: 50px;
        animation-name: rotate;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}
@keyframes rotate {
    to{
        transform: rotate(360deg);
    }
}
@media (max-width:768px) {
    %buttonsMenu{
        display: flex;
        height: 50px;
        width: 50px;
        justify-content: center;
        align-items: center;
        color: $primary;
        cursor: pointer
    }
    [for="open"]{
        @extend %buttonsMenu;
    }
    [for="close"]{
        @extend %buttonsMenu;
        position: absolute;
        top: 0;
        right: 0;
    }
    nav{
        ul {
            padding-top: 50px;
            color: $primary;
            background-color: $secondary;
            transition: .3s;
            position: fixed;
            top: 0;
            left: -100vw;
            width: 400px;
            height: 100vh;
            flex-direction: column;
            z-index: 1;
            li{
                padding: 15px;
                margin: 0 15px;
                border-bottom: 1px solid $neutral;
            }
        }
    }
    #open:checked + nav ul{
        left: 0;
    }
}
@media (max-width:500px) {
    nav ul {
        width: 100vw;
    }
}

/*------------*\
|----FOOTER----|
\*------------*/

footer{
    height: 200px;
    background-color: $primary;
    color: $secondary;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    ul{
        margin: 0;
        padding: 15px;
        list-style: none;
        display: flex;
        li{
            
            cursor: pointer;
        }
        li i {
            transition: .2s;
            position: relative;
            bottom: 0px;
            color: $secondary;
        }
        li:not(:last-child){
            padding-right: 10px;
        }
        li:hover i{
            bottom: 5px;
            box-shadow: 0px 5px 5px $terciary;
            color: white;
        }
    }
    small{
        padding: 10px;
        font-size: 1em;
    }
}
@media (max-width: 768px){
    footer{
        
    }
}

/*------------*\
|-----GRID-----|
\*------------*/
.grid-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondary;
}
.content{
    max-width: 600px;
    padding: 10px 10px 0 10px;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        margin: 0;
        font-size: 1.8em;
    }
    span{
        font-size: 1.4em;
        text-align: center;
    }
    q{
        margin-top: 10px;
    }
}
.grid{
    max-width: 1366px;
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(200px, max-content) minmax(150px, max-content) minmax(200px, max-content);
    grid-template-areas:
        "article-1 article-2 article-3 article-3"
        "article-4 article-5 article-3 article-3"
        "article-6 article-6 article-7 article-8";
}
article{
    color: $primary;
    display: flex;
    flex-direction: column;
    transition: .5s;
    justify-content: flex-end;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    &::before{
        content: "";
        transition: .5s;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba($primary,.0);
    }
    &:hover::before{ 
        background-color: rgba($primary,.4);
    }
    div{
        position: relative;
        color: $secondary;
        background: linear-gradient(0deg, darken($primary,4) 0%, transparent 100%);
    }
    h2{
        margin: 0;
        padding: 10px 10px 0 10px;
    }
    p{
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        display:-webkit-box; 
        -webkit-box-orient:vertical;
        -webkit-line-clamp:2; 
        margin: 0 10px 10px 10px;
    }
}


@for $var from 1 to 9 {
    .article-#{$var}{
        grid-area: article-#{$var};
        background-image: url('../assets/#{$var}.jpg');
    }
}

@media (max-width: 768px){
    .grid{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: minmax(200px, max-content) minmax(150px, max-content) minmax(200px, max-content) minmax(150px, max-content);
        grid-template-areas:
        "article-1 article-1 article-2"
        "article-3 article-4 article-4"
        "article-3 article-5 article-6"
        "article-7 article-8 article-8";
    }
}
@media (max-width: 500px){
    .grid{
        grid-template-rows: repeat(4, 200px);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "article-1 article-2"
        "article-3 article-4"
        "article-5 article-6"
        "article-7 article-8";
    }
}
@media (max-width: 300px){
    .grid{
        grid-template-rows: repeat(8, 180px);
        grid-template-columns: 1fr;
        grid-template-areas:
        "article-1"
        "article-2"
        "article-3"
        "article-4"
        "article-5"
        "article-6"
        "article-7"
        "article-8";
    }
}